<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home page! {% endblock %}</title>
</head>
<body>
    {% for msg in get_flashed_messages()%}
    <p>{{msg}}</p>
    {% endfor %}

    {% block content %}
    <h1>Home page to this awesome feedback page </h1>
        {% if session["username"] %}
    <a href="/users/{{session['username']}}">See your information!</a>
        {% endif %}
        {% if not session["username"] %}
    <a href="/login">Log in!</a>
    <a href="/register"> Register </a>
        {% endif %}
    {% endblock %}

    {% block links%}
    <form action="/logout" method="POST">
        <button type="submit">Log out {{session["username"]}}</button>
    </form>
    {% endblock %}

</body>
</html>